In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
akreditasi_negri = pd.read_csv('C:/Users/syahru/Desktop/Tetris Program/Capstone_project_Edu/Sekolah Negeri.csv')

In [7]:
akreditasi_negri

,NO,NO KEC,KECAMATAN,TERAKREDITASI (A),TERAKREDITASI (B),TERAKREDITASI (C),SEKOLAH MENENGAH PERTAMA (SMP) NEGERI BELUM TERAKREDITASI,JUMLAH TOTAL SEKOLAH MENENGAH PERTAMA (SMP),NO.1,NO KEC.1,KECAMATAN.1,JUMLAH SMP NEGERI,JUMLAH RUANG KELAS SMP NEGERI,NO.2,NO KEC.2,KECAMATAN.2,JUMLAH SMP NEGERI.1,JUMLAH LABORATORIUM IPA,JUMLAH LABORATORIUM BAHASA,JUMLAH LABORATORIUM KOMPUTER
0,1,32.75.01,Bekasi Timur,6,0,0,1,7,1,32.75.01,Bekasi Timur,7,187,1,32.75.01,Bekasi Timur,7,8,1,9
1,2,32.75.02,Bekasi Barat,3,0,0,2,5,2,32.75.02,Bekasi Barat,5,93,2,32.75.02,Bekasi Barat,5,2,1,2
2,3,32.75.03,Bekasi Utara,6,0,0,1,7,3,32.75.03,Bekasi Utara,7,163,3,32.75.03,Bekasi Utara,7,6,3,3
3,4,32.75.04,Bekasi Selatan,3,0,0,3,6,4,32.75.04,Bekasi Selatan,6,148,4,32.75.04,Bekasi Selatan,6,5,3,8
4,5,32.75.05,Rawalumbu,4,0,0,1,5,5,32.75.05,Rawalumbu,5,119,5,32.75.05,Rawalumbu,5,4,2,8
5,6,32.75.06,Medansatria,1,2,0,0,3,6,32.75.06,Medansatria,3,39,6,32.75.06,Medansatria,3,2,1,2
6,7,32.75.07,Bantargebang,1,0,0,2,3,7,32.75.07,Bantargebang,3,66,7,32.75.07,Bantargebang,3,3,2,1
7,8,32.75.08,Pondokgede,2,1,0,1,4,8,32.75.08,Pondokgede,4,101,8,32.75.08,Pondokgede,4,3,2,3
8,9,32.75.09,Jatiasih,6,1,0,0,7,9,32.75.09,Jatiasih,7,166,9,32.75.09,Jatiasih,7,6,1,8
9,10,32.75.10,Jatisampurna,2,1,0,0,3,10,32.75.10,Jatisampurna,3,63,10,32.75.10,Jatisampurna,3,2,1,2
10,11,32.75.11,Mustikajaya,5,0,0,0,5,11,32.75.11,Mustikajaya,5,74,11,32.75.11,Mustikajaya,5,3,1,7
11,12,32.75.12,Pondokmelati,1,0,0,0,1,12,32.75.12,Pondokmelati,1,23,12,32.75.12,Pondokmelati,1,1,0,0

In [8]:
add_NegriSiswa = pd.read_csv('NegriSiswa_data-jumlah-siswa-sekolah-menengah-pertama-smp-negeri-berdasarkan-jenis-kelamin-di-kota-bekasi-s.csv')
add_NegrGuruSertif = pd.read_csv('NegriGuruSertif_data-jumlah-guru-sekolah-menengah-pertama-smp-negeri-berdasarkan-sertifikasi-di-kota-bekasi-shee.csv')
add_NegriGuruKual = pd.read_csv('NegriGuruKual_data-jumlah-guru-smp-negeri-berdasarkan-kualifikasi-pendidikan-sheet1.csv')
add_NegriGuru = pd.read_csv('NegriGuru_rasio-siswa-dengan-tenaga-pendidik-smp-negeri-sheet1.csv')

In [9]:
add_NegriSiswa

,NO,NO KEC,KECAMATAN,JUMLAH SISWA SMP NEGERI (LAKI-LAKI),JUMLAH SISWA SMP NEGERI (PEREMPUAN),JUMLAH TOTAL SISWA
0,1,32.75.01,Bekasi Timur,3702,3780,7.482
1,2,32.75.02,Bekasi Barat,2229,2201,4.430
2,3,32.75.03,Bekasi Utara,3461,3354,6.815
3,4,32.75.04,Bekasi Selatan,2658,2731,5.389
4,5,32.75.05,Rawalumbu,2275,2340,4.615
5,6,32.75.06,Medansatria,1145,1146,2.291
6,7,32.75.07,Bantargebang,1263,1153,2.416
7,8,32.75.08,Pondokgede,1999,2108,4.107
8,9,32.75.09,Jatiasih,3380,3349,6.729
9,10,32.75.10,Jatisampurna,1285,1245,2.530
10,11,32.75.11,Mustikajaya,2138,2222,4.360
11,12,32.75.12,Pondokmelati,672,585,1.257

In [10]:
add_NegrGuruSertif

,NO,NO KEC,KECAMATAN,JUMLAH GURU SMP NEGERI YANG SUDAH SERTIFIKASI,JUMLAH GURU SMP NEGERI YANG BELUM SERTIFIKASI,JUMLAH TOTAL GURU SMP NEGERI
0,1,32.75.01,Bekasi Timur,194,217,411
1,2,32.75.02,Bekasi Barat,89,122,211
2,3,32.75.03,Bekasi Utara,131,247,378
3,4,32.75.04,Bekasi Selatan,126,158,284
4,5,32.75.05,Rawalumbu,117,116,233
5,6,32.75.06,Medansatria,55,80,135
6,7,32.75.07,Bantargebang,48,87,135
7,8,32.75.08,Pondokgede,91,85,176
8,9,32.75.09,Jatiasih,135,229,364
9,10,32.75.10,Jatisampurna,48,104,152
10,11,32.75.11,Mustikajaya,117,123,240
11,12,32.75.12,Pondokmelati,25,31,56

In [ ]:
add_NegriGuruKual